{%extends 'gallery/base.html'%}

{% block content %}
{{block.super}}

    <div class="container">

        <!-- <ul class="list-group list-group-flush">

            {% for category in categories %}
            <li class=" list-group-item">
                <a href="{% url 'home' %}?category={{category.name}}">
                    {{category.name}}
                </a>
            </li>
            {% endfor %}
        </ul> -->

        {% for image in images %}
            <div class="col-sm-6 col-md-3">
                <img src="{{image.image.url}}" class="img-fluid" alt="Image">
                <h4 class="text-center">{{image.image_name}}</h4>
            </div>
      {% endfor %}
    </div>
{% endblock %}